.features-section1 {
  background: #5b6266;
  padding: 60px;
  text-align: center;
}

.features-container1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  background-color: rgba(119, 129, 129, 0.74);
  padding: 40px;
}

.feature1 {
  background: rgb(184, 179, 179);
  padding: 20px;
  border-radius: 8px;
  font-size: 20px;
}