.steps-section {
  padding: 60px;
  text-align: center;
  background:rgb(159, 156, 158) ;
}

.steps-container {
  display: flex;
  justify-content: space-around;
  height: 100px;
  background:white;
}

.step {
  width: 30%;
  font-size: 18px;
  margin-top: 30px;
}